<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${teacher}">Title</title>
</head>
<body>
<h2>Updating information</h2>
<h3 th:text="${teacher}"></h3>
<form method="POST" th:action="${'/teachers/' + teacher.id + '?form'}" th:object="${teacher}">

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>

    <label for="firstName">First name: </label>
    <input id="firstName" type="text" th:field="*{firstName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">Name Error</span>
    <br/>

    <label for="lastName">Last name: </label>
    <input id="lastName" type="text" th:field="*{lastName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">Name Error</span>
    <br/>

    <label for="universities">Universities: </label>
    <span class="validationError"
          th:if="${#fields.hasErrors('university')}"
          th:errors="*{university}">Name Error</span>
    <br/>
    <div id="universities" th:each="university : ${universities}">
        <input type="radio" name="university" th:value="${university.id}"/>
        <span th:text="${university}">University</span><br/>
    </div>

    <input type="submit" value="Submit"/>
</form>
<p><a th:href="${'/teachers/' + teacher.id}">Back</a></p>
<p><a th:href="@{/}">Home</a></p>
</body>
</html>