<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating student</title>
</head>
<body>
<h2>Creating student</h2>
<form method="POST" th:object="${student}">

    <div th:if="${#fields.hasErrors()}">
        <span class="validationError">
        Please correct the problems below and resubmit.
        </span>
    </div>

    <label for="firstName">First name: </label>
    <input id="firstName" type="text" th:field="*{firstName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('firstName')}"
          th:errors="*{firstName}">Name Error</span>
    <br/>

    <label for="lastName">Last name: </label>
    <input id="lastName" type="text" th:field="*{lastName}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}">Name Error</span>
    <br/>

    <label for="teachers">Teachers: </label>
    <div id="teachers" th:each="teacher : ${teachers}">
        <input type="checkbox" name="teacher" th:value="${teacher.id}"/>
        <span th:text="${teacher + ' ' + teacher.university.toString()}">Teacher</span><br/>
    </div>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>